.header {
    background-image: linear-gradient(0, #f53e2d, #fe6333);
    height: var(--header-height);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}

.header__navbar-item {
    display: inline-block;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
}

.header__navbar-item,
.header_navbar--item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--while-color);
    text-decoration: none;
    font-weight: 350;
}

.header_navbar-icon-link:hover,
.header__navbar-item:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

.header_navbar-icon-link{
    color: var(--while-color);
    text-decoration: none;
}

.header__navbar-item--bold {
    font-weight: 500;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #f99a91;
    height: 16px;
    right: -9px;
    top: 10%;
}

.header_navbar-icon-link{
    font-size: 17px;
    margin: 0 2px;
}

.header__navbar-item,
.header_navbar-icon-link{
    display: inline-flex;
    align-items: center;
}
.header__navbar-item--no-pointer {
    cursor: text;
    color: var(--while-color);
}

.header__navbar-list,
.header__navbar-item, 
.header__navbar-item-link, 
.header__navbar-icon-link {
	display: inline-flex;
	align-items: center;
}

-- QR CODE
.header__navbar-item {
    position: relative;

}

/*Khi nào hover vào class này thì show lại qr*/
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__qr{
    width: 170px;
    position: absolute;
    left: 0;
    top: 175%;
    background: var(--while-color);
    border-radius: 2px;
    padding: 5px;
    display: none;
    animation: fadeIn ease 0.3s;

}
.header__qr::before{
    position: absolute;
    left: 0;
    top: -9%;
    width: 100%;
    height: 20px;
    content: "";
    background: transparent;
    display: block;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.header__qr-apps {
    display: flex;
}

.header__qr-link:nth-child(1){
    margin-left: 11px;
}

.header__qr-link:nth-child(2){
    margin-right: 11px;
}
.header__qr-img{
    width: 100%;

}

.header__qr-download-img{
    height: 16px;
}

.header_notify{
    position: absolute;
    top: 175%;
    right: 0%;
    width: 400px;
    border-radius: 2px;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    background-color: var(--while-color);
    cursor: default;
    transform-origin: (100% - 24px) top;
    animation: growthNotify ease-in 0.2s;
    display: none;
    will-change: opacity, transform;
}

@keyframes growthNotify {
    from{
        transform: scale(0);
        opacity: 0; 
    }
    to {
        transform: scale(1);
        opacity: 1;
    }

}
.header__navbar-item--has-notify:hover .header_notify{
    display: block;
}
.header_notify::before{
    position: absolute;
    right: 0;
    top: -7%;
    width: 77px;
    height: 25px;
    content: "";
    background: transparent;
    display: block;
}
.header_notify::after{
    position: absolute;
    right: 0%;
    top: -12%;
    border-width: 24px 36px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    content: "";

}
.header__notify-header{
}
.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list{
    padding: 0;
}

.header__notify-item:hover{
}

.header_notify-link{
    display: flex;
    text-decoration: none;
    width: 100%;
    padding: 12px;
}
.header_notify-link:hover{
    background-color: rgb(240, 236, 236);
}

.header__notify-img{
    width: 50px;
    height: 50px;
}

.header__notify-info{
    padding-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-descriotion{
    display: block;
    font-size: 1.1rem;
    color: #756F6E;
    line-height: 1.5rem;
    margin-top: 4px;
    
}
.header__notify-item--viewed{
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-footer{
    display: flex;

}

.header__notify-footer-btn{
    padding: 8px 0;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: var(--text-color);
}   

.header-with-search{
    height: var(--with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
}

.header__search-img {
    width: 150px;

}

.header__search {
    background-color: var(--while-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;

}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--while-color);
}
